{% extends 'base.html' %}

{% block title %}
  {{ object.first_name }}
  {{ object.last_name }}
{% endblock %}

{% block main %}
<h1>{{ object }}</h1>
{% if object.role_set.all %}
<h2>Acted</h2>
{% endif %}
<ul>
  {% for role in object.role_set.all %}
    <li>
      <a href="{% url 'core:MovieDetail' role.movie.id %}">
        {{ role.movie }}
      </a>:
      {{ role.name }}
    </li>
  {% endfor %}
</ul>
{% if object.writing_credits.all %}
<h2>Writed</h2>
{% endif %}
<ul>
  {% for movie in object.writing_credits.all %}
    <li>
      <a href="{% url 'core:MovieDetail' movie.id %}">
        {{ Movie }}
      </a>
    </li>
  {% endfor %}
</ul>
{% if object.directed.all %}
<h2>Directed</h2>
{% endif %}
<ul>
{% for movie in object.directed.all %}
  <li>
    <a href="{% url 'core:MovieDetail' movie.id %}">
      {{ movie }}
    </a>
  </li>
{% endfor %}
</ul>
{% endblock %}
